<!--login start here-->
<section class="login-bg">
	<div class="login">
		<div class="logo">
			<img src="assets/images/SYZEYELogo.png" />
		</div>
		<form name="loginform" ng-submit="$auth.login(user)">
			<input type="text" class="user active" placeholder="User Name" ng-model="user.username" required />
			<input type="password" class="lock active" placeholder="Password" ng-model="user.password" required />
			<div class="forgot">

				<div class="login-para">
					<!-- <p><a href> Forgot Password? </a></p> -->
				</div>
				<div class="clear"> </div>
			</div>
			<div class="login-bwn">
				<input type="submit" value="Log in" />
			</div>
		</form>
	</div>
</section>