
<div class="container">
	<div class="row">
        <div class="col-md-12">
	        <h4>User TODO List</h4>
			<p data-placement="top" data-toggle="tooltip" title="Delete">
	        	<button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ng-click="$usr.openModel()">Add User</button>
	        </p>
	        <div class="table-responsive">
	          	<table id="mytable" class="table table-bordred table-striped">
	               <thead>
	               		<th><input type="checkbox" id="checkall" /></th>
	               		<th>Name</th>
	                 	<th>Email</th>
	                 	<th>Contact</th>
	                 	<th>Address</th>
	                   	<th>Delete</th>
	               	</thead>
					<tbody>
					    <tr ng-repeat="item in $usr.userlist">
						    <td><input type="checkbox" class="checkthis" /></td>
						    <td>{{item.name}}</td>
						    <td>{{item.email_id}}</td>
						    <td>{{item.phone_no}}</td>
						    <td>{{item.address}}</td>
						    <td>
						    	<p data-placement="top" data-toggle="tooltip" title="Delete">
						    		<button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ng-click="$usr.deleteUser($event,item._id)"><span class="glyphicon glyphicon-trash"></span></button>
							    </p>
							</td>
					    </tr>  
					</tbody>
				</table>
	        </div>
        </div>
	</div>
</div>


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
	    <div class="modal-content">
	        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
		        <h4 class="modal-title custom_align" id="Heading">Add User</h4>
		    </div>
	        <form name="userForm" ng-submit="$usr.addOrUpdateUser()">
		        <div class="modal-body">
	        		<div class="form-group">
		        		<input class="form-control " type="text" placeholder="Name" ng-model="$usr.user.name" maxlength="100" required/>
		        	</div>
		        	<div class="form-group">
		        		<input class="form-control " type="number" placeholder="Mobile Number" ng-model="$usr.user.phone_no" maxlength="100" required/>
		        	</div>
		        	<div class="form-group">
		        		<input class="form-control " type="email" placeholder="Email Id" ng-model="$usr.user.email_id" maxlength="100" required/>
		        	</div>
			        <div class="form-group">
			        	<textarea rows="2" class="form-control" placeholder="Address" ng-model="$usr.user.address" maxlength="100" required></textarea>
			        </div>
		          	
		      	</div>
		        <div class="modal-footer">
		        	<p data-placement="top" data-toggle="tooltip" title="Delete">
			        	<button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign" ></span>Add</button>
			        </p>
			    </div>
	        </form>

	    </div>
  	</div>
</div>  



<script type="text/javascript">
	$(document).ready(function(){
	$("#mytable #checkall").click(function () {
	        if ($("#mytable #checkall").is(':checked')) {
	            $("#mytable input[type=checkbox]").each(function () {
	                $(this).prop("checked", true);
	            });

	        } else {
	            $("#mytable input[type=checkbox]").each(function () {
	                $(this).prop("checked", false);
	            });
	        }
	    });

	    // $("[data-toggle=tooltip]").tooltip();
	});
</script>